<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>공돌이 - MZ의 공부법 </title>
</head>
<body>

    <nav>
        <ul class="navbar">
            <li><a href="index.html">메인</a></li>
            <li><a href="studyRoom.html">AI 공부방</a></li>
            <li><a href="studyTimer.html">순공 타이머</a></li>
            <li><a href="ranking.html">랭킹</a></li>
            <li><a href="profile.html">프로필</a></li>

        </ul>
    </nav>
<!-- 헤더 -->
<div class="header">
    <h1> 프로필 📒</h1>


</div>
<!-- 헤더 -->

<!-- 메인 -->
<div class="main">

    <!-- User Photo
    <div class="profile-photo">
        <img src="path-to-default-profile-pic.jpg" alt="User Photo" id="userPhoto">
    </div> -->
    <div class="person-icon">

    </div>
    <!-- Basic Info -->
    <div class="basic-info">
        <h2 id="userName">아이디 : yjspro</h2>
        <p id="userEmail">소속 : 세명컴퓨터고등학교</p>
        <p id="userLocation">지역 : 경기도</p>
    </div>

    

    <!-- Buttons -->
    <div class="buttons">
        <button onclick="editProfile()">프로필 수정</button>
        <button onclick="logout()">로그아웃</button>
    </div>

</div>

<!-- 메인 -->



</body>
<script src="JS/profile.js"></script>
<script src="JS/checkLogin.js"></script>

</html>
